<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AdmobSettingViewBannerAdUnitId</key>
	<string>$(ADMOB_SETTINGVIEW_BANNER_AD_UNIT_ID)</string>
	<key>GADApplicationIdentifier</key>
	<string>$(ADMOB_APP_ID)</string>
	<key>SKAdNetworkIdentifier</key>
	<string>cstr6suwn9.skadnetwork</string>
</dict>
</plist>
